@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.welcome{
    background-color: #f0f8ff;
}
.toggle-link{
    cursor: pointer;
    color: #0e153a;
}
.outline-color{
    border: 1px solid #0e153a;
}
form > button:hover.outline-color{
    background-color: #0e153a;
    color: #f0f8ff;
}
@media screen and (max-width:420px) {
    .welcome form{
        width: 95% !important;
    }
}