@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcome{
    background-color: #e2f3f5;
}
.toggle-link{
    cursor: pointer;
    color: #22d1ee;
}
@media screen and (max-width:420px) {
    .welcome form{
        width: 100% !important;
    }
}